.App {
  text-align: center;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.my-custom-table .ant-table-thead > tr > th,
.my-custom-table .ant-table-tbody > tr > td {
  background-color: rgba(10,15,20,0.5) !important;
  color: #000000; /* or #222 if you want dark text */
  border-radius: 8px;      /* Adjust the value as needed */
  overflow: hidden;        /* Ensures the rounded corners are visible */
}

/* Remove default AntD table background */
.my-custom-table .ant-table {
  background: rgba(10,15,20,0.5) !important;

}

.my-custom-table .ant-table-thead > tr > th {
  background-color: rgba(10,15,20,0.5) !important;
  color: #696666 !important; /* or #222 for dark text */
  border-color: #222 !important;
}

/* Table body cells */
.my-custom-table .ant-table-tbody > tr > td {
  background-color: rgba(10,15,20,0.5) !important;
  color: #fff !important;
  border-color: #222 !important;
  border-radius: 8px;      /* Adjust the value as needed */
  overflow: hidden;        /* Ensures the rounded corners are visible */
}

/* "No data" placeholder area */
.my-custom-table .ant-table-placeholder {
  background-color: rgba(10,15,20,0.5) !important;
  color: #fff !important;
}

